workflow.json
{
    "name": "My workflow 5",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [-608, -96],
        "id": "0dfb474e-81a6-4442-b2e6-092c605c73a3",
        "name": "Gmail Trigger"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Write a vicious, no-holds-barred sarcastic reply to a bank transaction alert message:\n\"{{$json[\"snippet\"]}}\"\n\nRequirements:\n\nUnder 50 words\nRuthlessly sarcastic, cutting, and unapologetically mocking\nTear apart the spending decision with biting wit\nQuestion their judgment and impulse control\nMake them sound financially reckless and short-sighted\nDeliver a harsh reality check about their habits\nmake it very brutal , sarcstic and mean ",
          "messages": {
            "messageValues": [
              {
                "message": "=You are a brutally sarcastic assistant with savage humor."
              },
              {
                "type": "HumanMessagePromptTemplate",
                "message": "=Write a short, witty, sarcastic reply to this bank transaction message:  \"{{$json[\"snippet\"]}}\"  \n\nRules: - Under 50 words - Be brutally sarcastic and mocking - Roast the spending decision - Question the user's financial choices - Subtly remind them to stop spending money - Tone: savage, clever, painfully honest"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [-160, -112],
        "id": "04de945b-4b0e-4639-a0c5-ebe5761b954e",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [-160, 80],
        "id": "ab0cb194-4af0-4dd2-82f3-c75a786a55ec",
        "name": "Groq Chat Model"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e9e169c4-ea60-4b0f-a2a6-d8561d40676e",
                "leftValue": "={{ $json.snippet }}",
                "rightValue": "debited",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [-400, -96],
        "id": "fb48a06a-ded7-4aee-85ec-32f3d59a28c3",
        "name": "If"
      },
      {
        "parameters": {
          "from": "+14155238886",
          "to": "+919518920033",
          "toWhatsapp": true,
          "message": "={{ $json.text }}",
          "options": {}
        },
        "type": "n8n-nodes-base.twilio",
        "typeVersion": 1,
        "position": [192, -112],
        "id": "9c4df8db-6053-4ce6-928e-4127261ff1bb",
        "name": "Send an SMS/MMS/WhatsApp message"
      }
    ],
    "pinData": {},
    "connections": {
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Send an SMS/MMS/WhatsApp message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "versionId": "c35e588e-de2e-44d3-9e17-29fd559a93a1",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a39d31cc094955f2b4a4853e53f8b4314b6175d715ffd0aeeeee4a863e0fc7ee"
    },
    "id": "JGsoaP7Ucle0Y0Cq",
    "tags": []
  }